In [1]:
import sqlalchemy
sqlalchemy.__version__

'1.4.37'

In [2]:
import pyodbc
pyodbc.drivers()

['ODBC Driver 18 for SQL Server', 'ODBC Driver 17 for SQL Server']

In [3]:
from sqlalchemy import create_engine
from sqlalchemy.engine import URL
from urllib.parse import unquote

server_name   = "localhost"
database_name = "everyloop"

connection_string = f"DRIVER=ODBC Driver 17 for SQL Server;SERVER={server_name};DATABASE={database_name};Uid=sa;Pwd=bigStrongPwd1337"
url_string        = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})

print('Connecting to database using URL string:')
unquoted_url = unquote(str(url_string))
print(unquoted_url, '\n')

try:
    engine = create_engine(url_string)
    with engine.connect() as connection:
        print(f'Successfully connected to {database_name}!')
except Exception as e:
    print('Error while connecting to database:\n')
    print(e)

Connecting to database using URL string:
mssql+pyodbc://?odbc_connect=DRIVER=ODBC+Driver+17+for+SQL+Server;SERVER=localhost;DATABASE=everyloop;Uid=sa;Pwd=bigStrongPwd1337

Successfully connected to everyloop!

In [4]:
from sqlalchemy import text

name = "Anders"

parameterized_query = text("Select * from Users where FirstName = :first_name")

with engine.connect() as conn:    
    result = conn.execute(parameterized_query, first_name = name)
    print(result.fetchall())

[('820624-3075', 'andhan', 'f82e0b0c45c7babe84db897066335590', 'Anders', 'Hansson', 'anders.hansson@hotmail.com', '073-3519746')]

In [21]:
import pandas as pd
name = "Anders"


with engine.connect() as connection:
    df = pd.read_sql_query(parameterized_query, params={'first_name':'anders'}, con=connection)

df

,ID,UserName,Password,FirstName,LastName,Email,Phone
0,820624-3075,andhan,f82e0b0c45c7babe84db897066335590,Anders,Hansson,anders.hansson@hotmail.com,073-3519746